# Handle line endings automatically for files detected as text 
# and leave all others untouched.
* text=auto

# Explicitly declare text files you always want to be LF on checkout.
# Useful for scripts that must run on Unix/macOS.
*.sh text eol=lf
*.bash text eol=lf

# Explicitly declare files that must keep CRLF (Windows-only).
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Text files that should always be diff-able
*.svg text
*.slnx text diff
*.cs text diff=csharp
*.json text
*.js text
*.css text
*.html text
*.yaml text
*.yml text
*.md text

